<?xml version="1.0" encoding="UTF-8" ?>
<configuration>	
	
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder 
			by default -->
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} %p [%t] %c [%F:%L] - %msg%n
			</pattern>
		</encoder>
	</appender>
	<appender name="jasocket"
		class="github.com.cp149.netty.client.Netty4Appender">
		<remoteHost>localhost</remoteHost>
		<port>4560</port>		
		<connectatstart>true</connectatstart>
		<channelSize>1</channelSize>
		<appender-ref ref="STDOUT" />
	</appender>	
	 
	<appender name="Countout" class="github.com.cp149.CountAppender" />		
 
	<logger name="github.com.cp149.netty.client" level="DEBUG">
		<appender-ref ref="jasocket" />			
	</logger>
	<logger name="test.info"  level="DEBUG" additivity="false" >				
		<appender-ref ref="STDOUT" />
	</logger>
	<root level="ERROR">
		
	<!-- 
		<appender-ref ref="ASYNC" />
		<appender-ref ref="ASYNCFile" />
	 -->	
	</root>
</configuration>