<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder 
			by default -->
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} %p [%t] %c [%F:%L] - %msg%n
			</pattern>
		</encoder>
	</appender>
	<appender name="jasocket" class="github.com.cp149.netty.client.Netty4Appender">
		<remoteHost>localhost</remoteHost>
		<port>4560</port>
		<appender-ref ref="STDOUT" />
		<connectatstart>true</connectatstart>
		<channelSize>1</channelSize>
	</appender>
	<appender name="Countout" class="github.com.cp149.CountAppender" />

	<appender name="ASYNC" class="github.com.cp149.disruptor.DisruptorAppender">
		<threadSize>1</threadSize>
		<appender-ref ref="jasocket" />
		<appender-ref ref="Countout" />
	</appender>
	<logger name="github.com.cp149.netty.client" level="DEBUG">
		<appender-ref ref="ASYNC" />
		
	</logger>

	<root level="ERROR">
	</root>
</configuration>